body{
    background-color: #1E2126;
    color:#e2e2e2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    font-weight: bold;
}
a{
    font-size: 82px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#e2e2e2;
}
#interaction{
    transition: .5s;
    width: 400px;
    stroke: white;
    stroke-width: 20px;
    
}
#interaction:hover{
    width:420px;
    transition: .5s;
    filter: brightness(75%);
    cursor: pointer;  
    border: 15px solid #ffffff;
}
.container {
position: relative;
width: 100%;
max-width: 400px;
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.image {
width: 100%;
height: auto;
}
.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .3s ease;
cursor: pointer;
}
.container:hover .overlay {
opacity: 1;
border: 5px solid #ffffff;
border-radius: 5px;
}
.container:hover #interaction{
    width:420px;
    transition: .5s;
    filter: brightness(55%);
    cursor: pointer;

}
.icon {
color: white;
font-size: 100px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}
.fa-user:hover {
color: #eee;
stroke: white;
}
.play{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}